VITE_API_URL=http://localhost:8000
VITE_SUPABASE_URL=https://pwjcqgrvbvmdffcfwpek.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB3amNxZ3J2YnZtZGZmY2Z3cGVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4MDEyNTcsImV4cCI6MjA5MjM3NzI1N30.inw7npb-7yBKJj8_S3cvjQe0CedlTcXRdCGsHxJaYk8
