SUPABASE_URL=https://pwjcqgrvbvmdffcfwpek.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB3amNxZ3J2YnZtZGZmY2Z3cGVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4MDEyNTcsImV4cCI6MjA5MjM3NzI1N30.inw7npb-7yBKJj8_S3cvjQe0CedlTcXRdCGsHxJaYk8
SUPABASE_JWT_SECRET=kVELjLqIBDDWhqCW+0MnMItlBlmhUCyn68xrQqQ7mROCVE79YmKhYioCQV8vr9EYQWNkMIiUdD7pSoL2zWTK4w==

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=romeorajpoot684@gmail.com
SMTP_PASSWORD=losk lwqm zoym bgir
SMTP_FROM=romeorajpoot684@gmail.com

ALLOWED_ORIGINS=http://localhost:5173,https://yourapp.netlify.app

CF_API_URL=https://www.contractsfinder.service.gov.uk/Published/Notices/OCDS/Search
CACHE_TTL_SECONDS=3600
